.produtos__titulo{
   font-family: var(--familia-soleto);
   background-color: var(--cor2);
   color: var(--cor0);
   text-align: center;
   font-size: var(--size-large);
   font-weight: 800;
   line-height: 1.2;
   padding: .5em;
}

.produtos__produto{
   display: flex;
   font-size: var(--size-normal);
   padding: 1.5em .75em;
   gap: 10.5vw;
   border-bottom: 1px dashed var(--cor3);
}

.produtos__produto:last-of-type{
   border-bottom: none;
}

.produto__imagem{
   flex: 0 0 20vw;
   object-fit: contain;
}

.produto__info{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: var(--size-normal);
   padding: .625em 0;
}

.info__titulo{
   font-family: var(--familia-soleto);
   font-size: var(--size-large);
   font-weight: 800;
   color: var(--cor2);
}

.info__descricao{
   line-height: 1.1;
}

.info__link{
   text-decoration: underline;
   cursor: pointer;
   color: var(--cor4);
}

.produtos__subtitulo{
   font-size: var(--size-subtitle);
   color: var(--cor4);
   font-weight: 700;
   text-align: center;
   padding: .625em 0 0;
}

.produtos__link{
   background-color: var(--cor4);
   color: var(--cor0); 
   text-decoration: none;
   font-size: var(--size-large);
   font-weight: 700;
   display: inline-block;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   padding: .75em 2.25em;
   border-radius: .375em;
   text-align: center;
   margin: 1.5em auto;
}

@media screen and (max-width: 500px){
   .produtos__produto{
      flex-direction: column;
   }

   .produto__imagem{
      flex: 0 0 auto;
      object-fit: contain;
      height: 45vh;
   }
}

@media screen and (min-width: 1000px){
   .produto__info{
      justify-content: center;
   }
}